---
---

section {
  width:800px;
  padding: 30px 30px 50px 30px;
  margin: 20px 0;
  margin-top: 190px;
  position:relative;
  background: #fbfbfb;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);
}

section {
  border:1px solid #e5e5e5;
  border-width:1px 0;
  padding:20px 0;
  margin: 190px auto 20px;
  max-width: 900px;
}

@import 'jekyll-theme-leap-day';
